
<p><%= link_to 'CLOSE', :back %></p>

<div>
  
  <h1><%= @item.name %></h1>
  Description: <%= @item.description %><br>
  Borrowable Period: <%= @item.borrow_period %>
  <br>
   <% if @item.borrower_id.eql?(0) %>
      <p> Has not been borrowed!</p>
   <%else%>



  This item was borrowed on:  
  <% d = @item.borrowed_period %>
  <%= d.strftime("%b %d, %Y") %> 
  <% elapsed_time = ((Time.current - d)/86400).to_i %>
  <% remaining_days = @item.borrow_period-elapsed_time%>
  <% if remaining_days>0%>
  <br>
     Your item is due in: <%= remaining_days.to_i %> days. 
  <% end %>
  
  <% if elapsed_time>@item.borrow_period %>
      The item is overdue! <br>
  <% else %>
     The item is not overdue. <br>
  <% end %>

  <% if !@item.borrower_id.eql?(current_user.id) %>
	  <p>Borrower Contact Information:<br>
	  <%=@item.borrower.first_name%> <%=@item.borrower.last_name%><br>
	  <%=@item.borrower.street_address%><br> 
	  
	  <%=@item.borrower.city_name%>, 
	  <%=@item.borrower.state_name%> 
	  <%=@item.borrower.zip_code%><br> 
	  <%=@item.borrower.phone_number%>
	  <%=@item.borrower.email%> 
	  </p>
  <%end%>

<%end%> 

  <p><%= image_tag @item.picture_url(:regular) %></p>

</div>

